/* RESET */
*{
padding:0;
margin:0;
box-sizing: border-box;
font-family: 'in-font.woff2';
}
@font-face{
    font-family: 'in-font.woff2';
    src:url(/font/in-font.woff2);
}
@font-face {
    font-family: 'in-font.woff2';
    font-weight: 200;
    src: url(https://m.media-amazon.com/images/S/sash/Dv1WQ5DdeMS5qP7.woff2) format("woff2"),url(https://m.media-amazon.com/images/S/sash/e0LnMbFWJC-TMQz.woff) format("woff")
}

@font-face {
    font-family: 'in-font.woff2';
    font-weight: 200;
    font-style: italic;
    src: url(https://m.media-amazon.com/images/S/sash/ozb5-CLHQWI6Soc.woff2) format("woff2"),url(https://m.media-amazon.com/images/S/sash/twzZHebXjCHBb6v.woff) format("woff")
}

@font-face {
    font-family: 'in-font-woff2';
    src: url(https://m.media-amazon.com/images/S/sash/pDxWAF1pBB0dzGB.woff2) format("woff2"),url(https://m.media-amazon.com/images/S/sash/kfKKBuoqcD$AUKL.woff) format("woff")
}

@font-face {
    font-family: 'in-font.woff2';
    font-style: italic;
    src: url(https://m.media-amazon.com/images/S/sash/WOnTLzkiaEccV7F.woff2) format("woff2"),url(https://m.media-amazon.com/images/S/sash/JJsp0ZvgpfwzJM6.woff) format("woff")
}

@font-face {
    font-family: 'in-font.woff2';
    font-weight: 500;
    src: url(https://m.media-amazon.com/images/S/sash/VjTR4RqBzY0mUYx.woff2) format("woff2"),url(https://m.media-amazon.com/images/S/sash/XIvhNCZAsrT80Wz.woff) format("woff")
}

@font-face {
    font-family: 'in-font.woff2';
    font-weight: 500;
    font-style: italic;
    src: url(https://m.media-amazon.com/images/S/sash/KwhNPG8Jz-Vz2X7.woff2) format("woff2"),url(https://m.media-amazon.com/images/S/sash/YAEPfuhs1l-argd.woff) format("woff")
}

@font-face {
    font-family: 'in-font.woff2';
    font-weight: 700;
    src: url(https://m.media-amazon.com/images/S/sash/KFPk-9IF4FqAqY-.woff2) format("woff2"),url(https://m.media-amazon.com/images/S/sash/mzVbGSgvdBfRLX9.woff) format("woff")
}

@font-face {
    font-family: 'in-font.woff2';
    font-style: italic;
    font-weight: 700;
    src: url(https://m.media-amazon.com/images/S/sash/2SazJx$EeTHfhMN.woff2) format("woff2"),url(https://m.media-amazon.com/images/S/sash/CjbL$jCCegyfqZ7.woff) format("woff")
}
.mobile-view footer{
    display: block;
}
.mobile-view .footer-inner{
    background: #0D141E; 
    padding-bottom: 35px;
    position: relative;
    width:100%;
    min-width: 200px;
    font-size: 12px;
    line-height: 1em;
}
.mobile-view .link-top-of-page{
    height: 50px;
    padding-top: 5px;
    background: #37475A;
    display: block;
    text-align: center;
    border-bottom: #cdcdcd;
}
.mobile-view .icon-to-up{
  border-style: solid;
  border-width: 5px;
  border-color:transparent;
  border-top-width: 0;
  border-bottom:5px solid #ccc;
  width:0;
  height: 0;
  font-size: 0;
  line-height: 0;
  display: inline-block;
}
.mobile-view .top-text{
    display: block;
    color:#fff;
    font-weight: 400;
    font-size: 11px;
    line-height: 30px;
    margin-top: 1px;
}
.mobile-view .footer-list{
    margin:0;
    padding:0 20px 25px 20px;
    background-color: #232F3E;
    border:0;
   
}
.mobile-view .footer-list::after{
    content: "";
    display: block;
    clear: both;
}
.mobile-view .footer-list li{
    /* float: right; 
  clear:right;  */
  /* padding-left: 4px; */
  /* padding-right: 0; */
  word-wrap: break-word;
  list-style: none;
  /* margin:0; */
  /* padding:0; */
  margin-top:25px;
  width:50%;
  display: block;
  /* margin-bottom: 0; */
}
.mobile-view .link-list{
    text-decoration: none;
    line-height: 16px;
    font-size: 15px;
    display: block;
     color:#b73232; 
    padding:0;
}
.mobile-view .footer-list p{
    display: inline-block;
    color:#fff;
    max-width: 100%;
    white-space: normal;

}
/* .footer-list .not-right{

    margin-top:25px;
  width:50%;
  display: block;
  margin-bottom: 0;
  padding-right: 4px;
  margin-top:25px;
} */

.mobile-view .footer-list li.not-right{
    float: right;
    padding-left: 4px;
 }
.mobile-view .footer-list li.not-left{
    float: left;
    padding-right: 4px;
 }
 .mobile-view .footer-three{
    padding-top: 25px;
    text-align: center;
    padding-bottom: 1em;
 }
 .mobile-view .footer-three-inner{
    display: inline-block;
    font-size: 14px;
    padding: 1em 0.9em;
    text-align: left;
 }
 /* .inner-inner-footer{

 } */
.mobile-view .english-icon{
    background-image: url(https://m.media-amazon.com/images/S/sash/vqXWsNPg$9994Pg.png);
    background-size: 194px 295px;
    background-position: -77px -24px;
    position: relative;
    height: 15px;
    width: 15px;
    top:.2em;
    left:-0.6em;
    display: inline-block;
  }
.mobile-view .english-word{
    color:#CCC;
  }
 .mobile-view .footer-four{
    margin: 0;
    padding:25px 0 25px 0;
    color:#fff;
    font-size: 15px;
    text-align: center;
    line-height: 20px;
  }
  .mobile-view .already{
    color:#fff;
    text-decoration: none;
    padding-left: 5px;
  }
 .mobile-view .last-line{
    margin-bottom: 11px;
    line-height: 15px;
    text-align: center;
    /* margin:0 0 13px; */
    padding: 0;
    min-height: 11px;
  }
  .mobile-view .last-line li{
    list-style: none;
    display: inline-block;
    word-wrap: break-word;
  }
 .mobile-view .last-line a{
    color:#ccc;
    display: inline-block;
    padding:0 8px;
    font-size: 11px;
  }
.mobile-view .footer-copyright{
    text-align: center;
    font-size: 11px;
    color:#ccc;
    line-height: 1em;
}
.mobile-view .footer-space{
   
    height: 15px;
    border-color: black;
    background-color: black;
    outline:none;
    border:none;
    
}
.mobile-view .footer-space:focus{
 outline:none;
 box-shadow: none;
}
/* .wrong{
    transform: translateY(-1px);
} */