/* VARIABLES */
:root{
--image: url(https://m.media-amazon.com/images/G/31/gno/sprites/nav-sprite-global-2x-reorg-privacy._CB546381437_.png);
--in-font: 'in-font.woff2';
--country: url(https://m.media-amazon.com/images/S/sash/vqXWsNPg$9994Pg.png);
--back:url(https://m.media-amazon.com/images/S/sash/5wejH04P3ogfQ-4.svg);
--select:url(https://m.media-amazon.com/images/S/sash/u0inQP8-LqBRO7J.png);
--arrow:url(https://m.media-amazon.com/images/S/sash/McBZv0ZvnbehkIx.png);
}


/* RESET */
*{  box-sizing: border-box;
    padding:0;
    margin:0;
    font-family: var(--in-font);
}
ul{
    list-style-type: none;
}
body{
    font-size:14px;
    line-height: 20px;
}
@font-face{
    font-family: 'in-font.woff2';
    src:url(font/in-font.woff2)
}

.up{
    background-color: black;
    display: flex;
    /* position:static; */
    height:61px;
    flex-wrap: row nowrap;
    width:100%;
    min-width:1084px;
}
.nav-left{
    height:60px;
    display: flex;
    width:auto;
}
.image{
    display: flex;
    margin: 11px;
    padding:5px 8px 0px 17px;
    /* width:129.262px; */
    margin:1px 1px 1px 2px;
}
.image .logo{
    background-image: var(--image);
    display: block;
    background-size: 350px;
    height:34px;
    float: left;
    background-position: -9px -125px;
    text-indent: -500px;
    width:98px;
    margin-top:11px;
}
.in{
    margin:16.5px 0px 0px 0px;
    color: white;
    width:auto;
    display: block;
    height: 14px;
    background-position: -270px -109px;
    font-size: 13.5px;
    line-height: 14px;
}
.in span{
     font-family: var(--in-font);
}
.address-wrapper{
   width:auto;
   height: 60px;
   padding:0;
   margin:0;
   display: flex;
   position:static;
   width:fit-content;
   font-size: 14px;
  line-height:12px;
  /* width:205.375px */
}
.address{
    align-items: center;
    padding:0 9px 0 9px;
    margin:5px 2px 5px 0;
    display: flex;
    height: auto;
    width: fit-content;
}
.address-logo{
    background-image:var(--image);
    background-position: -71px -378px;
    width:15px;
    height:18px;
    margin-top: 8px;
    background-size: 350px;
}
.address-content{
    margin-left: 3px;
    display:flex;
    /* line-height: 39px;  */
    flex-flow: column nowrap;
}
.address-content p{
    font-size:12px;
    line-height:14px;
    height:14px;
    font-weight: 400;
    color:white
}
.address-content h5{
    padding-bottom:1px;
    font-size: 14px;
    line-height: 15px;
    font-weight: 700;
    color:white
}
.nav-middle{
    height:60px;
    display:flex;
    flex:1 1 0px;
    overflow: visible;
    width:auto;
   
}
.nav-middle-outer{
    padding:10px 4px 10px 3px;
    height:60px;
    display: flex;
    flex:1 1 auto;
    width:auto;
    border-radius: 4px;
    border-color: white;
    overflow: hidden;
    margin:0 10px;
}
/* .nav-middle form{
    display: flex;
    border-radius: 4px;
    height:40px;
} */
.form-left{
    display: flex;
    width:auto;
    
}
.form-left-outer{
    position:relative;
    padding: 5px;
    height: 40px;
    overflow: hidden;
    border:1px solid wheat;
}
.form-left .form-left-text{
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    color:rgb(236, 233, 239);
    font-size: 12px;
    line-height:33px;
    margin-right: 21px;
    margin-left:5px;
    min-width:19px;
    width:77px
}
.form-left-icon{
    position:absolute;
    top:14px;
    right:8px;
    border-style: solid;
    border-width:4px;
    border-color:transparent;
    border-top:4px solid #666;
    border-bottom-width: 0;
}
.nav-middle-center{
    height:auto;
    display: flex;
    flex:1 1 0px;
    line-height: 14px;
    position:static;
    line-height: 12px;
    border-top-width:0.8px;
    box-sizing: border-box;
}
.nav-middle-center input{
    display: block;
    width:100%;
    line-height: 15px;
    padding:7px 10px 10px 0;
    height:40px;
    font-size: 15px;
    text-indent: 8px;
}
.nav-middle-right{
    min-width:auto ;
    display:flex;
    background-color: #febd69;
    background-size: 350px;
    width:45px;
    border:none;
    height:auto;

}
.nav-middle-right .image{
    background-image: var(--image);
    display: flex;
    flex:1 1 auto;
    background-position:2px -280px;
    width:auto;
    height:auto;
    background-size: 350px;
    height:100%;
    width:100%;
    font-size: 14px;
    padding:0;
    margin:0;
    outline:0;
    text-indent: -1000px;
    line-height: 1px;
}
.nav-right{
    height:60px;
    min-width: auto;
    display: flex;
}
.nav-right-outer{
    margin-top:2px;
    padding:3px 0 0 0;
    font-size:14px;
    display: flex;
}
.en{
    margin:0px 1px 0px 1px;
    padding-left: 7px;
    padding-bottom: 5px;
    padding-right: 6px;
    display:flex;
    justify-content: center;
}
.en-left{
    padding:0 2px 5px 7px;
    margin: 1px;
    height: 50px;
}
.flag-image{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 45px;
}
.empty{
    padding-bottom: 2px;
    padding-right: 8px;
    align-items: center;
    height: 12px;
}
.flag-outer{
    display: flex;
}
.en-left .flag{
    background-image: var(--country);
    margin:0 2px 1px 0;
    display: flex;
    align-items: center;
    background-position: 0 -166px;
    background-size: 194px 295px;
    height: 18px;
    width: 24px;
}
.lang{
    color:white;
}
.en-right-button{
    margin: 6px 0 0 1px;
    margin-top: 31px;
    border-style: solid;
    border-width:4px;
    border-color:transparent;
    border-top: 4px solid #a7acb2;
}
.hello{
   padding: 0px 9px;
    width: 141.525px;
    height: 55px;
    display: flex;
    align-items: flex-start;
    
}
.signin{
    width:113.525px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50px;
    padding:0px 4px 8px 9px;
    color:white;
    
}
.hello-text{
    margin-top:9px;
   font-size: 14px; 
}
.account{
    font-size:16px;
    font-weight: 700;
    width:auto;
    align-items: center;
}
.dowm-button{
   margin:31.5px 0 0
}
.return{
    color:white;
    width:76.948px;
    display: flex;
    flex-direction: column;
    padding:0px 9px 10px 9px;
}
.return-text{
    margin-top:9px;
    display: flex;
    font-size: 12px;
    font-weight: 400;
    height: 14px;
    line-height: 14px;
}
.cart{
    padding:0px 9px 11px 9px;
    margin-right:3px;
    height: 50px;
    width: 84px;
}
.zero{
    display:flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right:auto;
    line-height: 16px;
    color: rgb(240,136 ,4);
    font-size: 18px;
    font-weight: 700;
    left:13px;
    bottom:15px;
    top:8px;
    right:6px;
    width:19px;
}
.basket{
    position:relative;
    height: 39px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}
.cart-picture{
   background-image: var(--image);
   background-size: 350px;
   width:41px;
   height:28px;
   background-position:-218px -337px;
}
.center{
    
    width:1084px;
    width:100%;
    max-height: 39px;
    display: flex;
    flex-direction: row;
    background-color: #232f3e;
    background-size: 350px;
    padding-left:11px;
    padding-top:0;
}
.center-left{
    height: 39px;
    width:58.413px;
    display: flex;
    font-size: 12px;
    line-height: 12px;
    margin-right:0;
}
.center-left-inner{
    display:flex;
    align-items: center;
    width :auto;
    border:none;
    padding:8px 9px 8px 9px;
    height: 39px;
}           
.center-left i{
    width:17px;
    height: 14px;
    background-image: var(--image);
    background-size:350px;
    background-position: -172px -255px;
    line-height: 12px;
    font-size:25px;
} 
.center-left span{
    font-weight: 700;
    font-size:14px;
    padding-left:5px;
    color:#fff;
    line-height: 12px;
    width: 23.413px;
    height: 12px;
    text-size-adjust: 100%;
} 
.center-middle{
    width:1294.99px;
    overflow:hidden;
     font-size: 12px;
     line-height: 12px;
    max-height: 39px;
    display:flex;
    /* flex:1 1 auto; */
    padding:0;
} 
.center-middle-outer{
    display:flex;
    flex:1 1 100%;
    flex-direction: column;
    justify-content: flex-end;
    white-space: nowrap;
} 
.center-middle-wrapper{
    padding-left: 0;
    display: flex;
    flex:1 1 auto;
    flex-direction: row;
    align-items: normal;
    margin-top: 0;
    /* margin: 21px 0 0; */
    max-height: 39px;
    overflow:hidden;
}
.center-middle-wrapper ul{
    display:contents;
    text-align: left;
}

.fresh{
    display: flex;
    padding:0px 5px;
    position:relative;
    vertical-align: middle;
    height:100%;
    text-align: left;
    font-size: 12px;
    line-height: 12px;
    height: 39px;
   
}
.fresh-text{
    margin:4px 0 6px 0;
    padding:8px 5px;
    box-sizing: content-box;
    font-size: 14px;
    color:white;
    height: 12px;
    line-height: 12px
}
 .fresh-button{
   width:0px;
   height:0;
   padding:0;
   background: 0 0;
   margin-top:18px;
   border-left:4px solid transparent;
   border-right: 4px solid transparent;
   border-top:4px solid #a7acb2;
   margin-bottom: px;
}
.center-middle ul{
    display:flex;
    margin:0 0 0 18px;
    display: contents;
}
/* .center-middle ul li{
    list-style-type: none;
    padding:2px
} */
.down{
     width:100%;
    min-width:1084px;
    font-size: 12px;
    line-height: 12px;
}
.down-wrapper{
    display: flex;
    justify-content: space-between;
    height: 50px;
    background-color: #fff;
    position: relative;
    padding:0 9px 0 15px;
    overflow:hidden;
    border-top: 1px solid rgba(0,0,0,0.1);
    border-bottom:1px solid rgba(0,0,0,0.1);
    box-shadow:0 0 1px #ddd;
}  
.down-wrapper a{
    flex:0 0 auto;
    display:inline-block;
    position:relative;
    text-align: center;
    vertical-align: middle;
    height: 48px;
    padding:0 13px;
    line-height: 50px;
    color:#333;
    font-size: 12px;
    line-height:50px ;  
    text-decoration: none;                
} 
.number{
    line-height: 20px;
    margin-bottom: 8px;
    border-top:1px solid #ccc;
    border-bottom:1px solid #ccc;
    height: 40px;
}  
.number-inner{
    display: flex;
    max-width: 1800px;
    align-items: center;
    margin:0 auto;
}  
.num{
  display: block;
   width:1288px;
   min-width: 622.5px;
   max-width: 1122.5px; 
} 
.sortby{
    display: block;
    font-size: 14px;
    font-style:normal;
    font-weight: 400;
    line-height: 20px;
    max-width:538.8px;
    min-width:298.8px;
    width:406.312px;
    /* width: 1382.4px; */
}
.sortby-wrapper{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    /* width:406.312px; */
    position: relative;
    padding:0 4px;
    height: 100%;
    margin:8px 0;
    /* text-align: right; */
} 
.sortby-text-wrapper{
    display: inline-block;
    width: 134.538px; 
    background: #f0f2f2;
    border-color:#d5d9d9;
    border-radius: 8px;
     display: flex;
    justify-content: flex-end;
}
.sortby-text{
    border-radius: 7px;
    height: 22px;
    position:relative;
    width: 132.938px;
    text-align: center;
}
.sort-one{
    
    width:100%;
    padding:0 8px 0 8px;
    /* padding-right: 26px; */
    font-size: 11px;
    line-height: 22px;
    position: relative;
    text-align: left;
}
 .sortby-text .one{
    margin-right: 6px;
} 
.sortby .arrow{
   background-image: var(--arrow);
   background-position:-7px 102px;
   width:10px;
   height: 8px;
   display: inline-block;
   background-size: 400px 900px;
   font-size: 14px;
   line-height: 20px;
   position: absolute;
   top:10px;
   right: 6px;
   text-align: center;
   vertical-align: top;
   color:rgb(101, 142, 142)
}

main{
   margin:0 auto; 
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   font-size: 14px;
   line-height: 20px;
   margin:0 12px;
   /* width:1288px;           */
   min-width:996px;
   overflow:visible;
   max-width: 1500px;
   padding-top:14px;
}
.main-left{
   font-size:14px;
   display: block;
   line-height: 20px;
   max-width: 359.2px;
   overflow:visible;
   width:272.8px;

}
.main-left-inner{
    padding-right:16px;
    padding-left: 4px;
}
.main-left-one{
    padding-right: 12px;
    line-height: 16px;
    word-break:break-word;
}
.dep-heading{
    margin-bottom:8px;
}
.dep-heading span{
    font-size: 14px;
    font-weight:700;
    line-height: 16px;
    word-break: break-word;
    margin-left: 5px;
}
 .main-left ul{
      margin:0 0 0 5px;
} 
.main-left li{
    /* margin-bottom:4px; */
    text-size-adjust: 100%;
    line-height: 16px;
    font-size: 14px;
}
.left-arrow{
    display: inline-block;
    width:6px;
    height:10px;
    background-repeat: no-repeat;
    background-image: var(--back);
}

.ul-wrapper ul li:nth-child(2){
    margin-left:12px;
    margin-bottom: 8px;
}
.ul-wrapper ul li:nth-child(2) span{
    font-weight:700;
    line-height:16px ;
}
.ul-wrapper ul li:nth-child(n+3){
    margin-left: 22px;
}
/* .ulli-wrapper li{
    margin-bottom: 4px;
} */
.ulli-wrapper .tick{
    display: inline-block;
    background-image: var(--select);
    background-size:512px 512px;
    background-position: -490px -380px;
    border-radius: 2px;
    font-size:14px;
    font-weight: 400;
    line-height: 16px;
    height: 16px;
    width: 16px;
}
.not-tick{
    display: inline-block;
    background-image: var(--select);
    background-position:-357px -357px;
    background-size: 512px 512px;
    width:16px;
    height: 16px;
    line-height: 16px;  
}
.see-more .left-arrow{
    transform: rotate(-90deg);
}
/* .rate{

} */
.star{
  background-image: var(--select);
  background-position:-21px -488px ;
  display:inline-block;
  background-size: 512px 512px;
  height: 22px;
  width: 95px;  
}
.star-text{
    font-size: 14px;
    line-height: 16px;
    text-align: left;
    text-size-adjust: 100%;
    height: auto;
    width:auto;
    text-align: center;
    vertical-align: middle;
}
.count{
    display: flex;
    flex-direction: row;
}
.slide-go{
    display: flex;
}
.main-right{
    display: block;
     width:1091.200px;
    min-width: 796.8px;
    max-width: 1436.8px; 
    line-height: 20px;
    font-size: 14px;
}
.main-right-wrapper{
    padding:0 4px;
    height: 100%;
}
.main-right-inner{
    display: inline;
    height: auto;
    line-height: 20px;
}
.main-right-grid{
    display: grid;
    align-items: stretch;
    justify-items: stretch;
    margin:0 -4px 0 -4px;
    width:auto;
    grid-template-columns: repeat(12,1fr);
}
.result{
    grid-column: 1/-1;
    padding-left: 8px;
    margin-bottom:4px;
    height: 48px;
}
.result-wrapper{
 height: auto;
 width: auto;
  width: 1083.200px; 
}
.result-inner{
    height: 48px;
    line-height: 20px;
/* }
.result-heading{ */
   outline:0; 
}
.result h2{
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    display: block;
}
.para{
    width: 100%;
    font-size: 14px;
    line-height: 20px;   
}
.result .para span{
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
}
.card-one{
    width: 272.8px;
    max-width: 359.2px;
    height: 612.65px;
    line-height: 20px;
    font-size: 14px;
    grid-column:auto/span 4;
}
.card-one-inner{
    padding:0 4px;
    height: 100%;
}
.card-one-next{
    margin-bottom: 8px;
    height:cal(100%-8px);
}