/* VARIABLES */
:root{
--image: url(https://m.media-amazon.com/images/G/31/gno/sprites/nav-sprite-global-2x-reorg-privacy._CB546381437_.png);
--in-font: 'in-font.woff2';
--country: url(https://m.media-amazon.com/images/S/sash/vqXWsNPg$9994Pg.png);
--back:url(https://m.media-amazon.com/images/S/sash/5wejH04P3ogfQ-4.svg);
--select:url(https://m.media-amazon.com/images/S/sash/u0inQP8-LqBRO7J.png);
--arrow:url(https://m.media-amazon.com/images/S/sash/McBZv0ZvnbehkIx.png);
--prime:url(https://m.media-amazon.com/images/S/sash/IAiggOMz$2G$3oR.png);
}


/* RESET */
*{  box-sizing: border-box;
    padding:0;
    margin:0;
    font-family: var(--in-font);
}
ul{
    list-style-type: none;
}
body{
    font-size:14px;
    line-height: 20px;
}
@font-face{
    font-family: 'in-font.woff2';
    src:url(font/in-font.woff2)
}
@font-face {
    font-family: 'in-font.woff2';
    font-weight: 200;
    src: url(https://m.media-amazon.com/images/S/sash/Dv1WQ5DdeMS5qP7.woff2) format("woff2"),url(https://m.media-amazon.com/images/S/sash/e0LnMbFWJC-TMQz.woff) format("woff")
}

@font-face {
    font-family: 'in-font.woff2';
    font-weight: 200;
    font-style: italic;
    src: url(https://m.media-amazon.com/images/S/sash/ozb5-CLHQWI6Soc.woff2) format("woff2"),url(https://m.media-amazon.com/images/S/sash/twzZHebXjCHBb6v.woff) format("woff")
}

@font-face {
    font-family: 'in-font-woff2';
    src: url(https://m.media-amazon.com/images/S/sash/pDxWAF1pBB0dzGB.woff2) format("woff2"),url(https://m.media-amazon.com/images/S/sash/kfKKBuoqcD$AUKL.woff) format("woff")
}

@font-face {
    font-family: 'in-font.woff2';
    font-style: italic;
    src: url(https://m.media-amazon.com/images/S/sash/WOnTLzkiaEccV7F.woff2) format("woff2"),url(https://m.media-amazon.com/images/S/sash/JJsp0ZvgpfwzJM6.woff) format("woff")
}

@font-face {
    font-family: 'in-font.woff2';
    font-weight: 500;
    src: url(https://m.media-amazon.com/images/S/sash/VjTR4RqBzY0mUYx.woff2) format("woff2"),url(https://m.media-amazon.com/images/S/sash/XIvhNCZAsrT80Wz.woff) format("woff")
}

@font-face {
    font-family: 'in-font.woff2';
    font-weight: 500;
    font-style: italic;
    src: url(https://m.media-amazon.com/images/S/sash/KwhNPG8Jz-Vz2X7.woff2) format("woff2"),url(https://m.media-amazon.com/images/S/sash/YAEPfuhs1l-argd.woff) format("woff")
}

@font-face {
    font-family: 'in-font.woff2';
    font-weight: 700;
    src: url(https://m.media-amazon.com/images/S/sash/KFPk-9IF4FqAqY-.woff2) format("woff2"),url(https://m.media-amazon.com/images/S/sash/mzVbGSgvdBfRLX9.woff) format("woff")
}

@font-face {
    font-family: 'in-font.woff2';
    font-style: italic;
    font-weight: 700;
    src: url(https://m.media-amazon.com/images/S/sash/2SazJx$EeTHfhMN.woff2) format("woff2"),url(https://m.media-amazon.com/images/S/sash/CjbL$jCCegyfqZ7.woff) format("woff")
}
.up{
    background-color: black;
    display: flex;
    /* position:static; */
    height:61px;
    flex-wrap: row nowrap;
    width:100%;
    font-size: 14px;
}
.nav-left{
    height:60px;
    display: flex;
}
.image{
    width:auto;
    display: flex;
    margin: 11px;
    padding:5px 8px 0px 17px;
    /* width:129.262px; */
    margin:1px 1px 1px 2px;
    clear: both;
}
.image .logo{
    background-image: var(--image);
    display: inline-block;
    background-size: 350px;
    height:34px;
    float: left;
    background-position: -9px -125px;
    text-indent: -500px;
    width:98px;
    margin-top:11px;
}
.in{
    margin:16.5px 0px 0px 0px;
    color: white;
    width:auto;
    display: block;
    height: 14px;
    background-position: -270px -109px;
    font-size: 13.5px;
    line-height: 14px;
}
.in span{
     font-family: var(--in-font);
}
.address-wrapper{
   width:auto;
   height: 60px;
   padding:0;
   margin:0;
   display: flex;
   position:static;
   width:fit-content;
   font-size: 14px;
  line-height:12px;
  /* width:205.375px */
  margin-left:2px;
}
.address{
    align-items: center;
    padding:0 9px 0 9px;
    margin:5px 2px 5px 0;
    display: flex;
    height: auto;
    width: fit-content;
    line-height: 39px;
}
.address-logo{
    background-image:var(--image);
    background-position: -71px -378px;
    width:15px;
    height:18px;
    margin-top: 8px;
    background-size: 350px;
    display: flex;
    background-size: 350px;
}
.address-content{
    margin-left: 3px;
    display:flex;
    /* line-height: 39px;  */
    flex-flow: column nowrap;
}
.address-content p{
    font-size:12px;
    line-height:14px;
    height:14px;
    font-weight: 400;
    color:#ccc;
    float: left;
    clear: both;
    display: inline-block;
}
.address-content h5{
    padding-bottom:1px;
    font-size: 14px;
    line-height: 15px;
    font-weight: 700;
    color:white;
    /* float:left; */
    clear:both;
    display: inline-block;
}
.nav-middle{
    height:60px;
    display:flex;
    flex:1 1 auto;
    overflow: visible;
    width:auto;
    white-space: nowrap;
}
.nav-middle-outer{
    padding:10px 4px 10px 3px;
    height:60px;
    display: flex;
    flex:1 1 auto;
    width:auto;
    border-radius: 4px;
    border-color: white;
    overflow: hidden;
    margin:0 6px;
    border-radius: 4px;
}
.nav-form{
    display: flex;
    flex:1 1 0px;
    height: 40px;
    border-radius: 4px;
}
/* .nav-middle form{
    display: flex;
    border-radius: 4px;
    height:40px;
} */
.form-left{
    display: flex;
    width:auto;
    height: auto;
}
/* .form-left-outer{
    position:relative;
    padding: 5px;
    height: 40px;
    overflow: hidden;
    border:1px solid wheat;
} */
 .form-left-inner-inner{
    display: flex;
    position: relative;
    float: none;
    top:0;
    bottom:0;
    right:0;
    left:0;
    background-color: #e6e6e6;
    border-left:1px solid #e6e6e6;
    border-top:1px solid #e6e6e6;
    border-bottom:1px solid #e6e6e6;
    height: 40px;
    padding-left: 5px;
    border:1px solid #cdcdcd;
 }
 .form-left-left{
    position:relative;
    float: left;
    top:3px
 }
.form-left .form-left-text{
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    color:#555;
    font-size: 12px;
    line-height:33px;
    margin-right: 21px;
    margin-left:5px;
    min-width:19px;
    width:auto;
}
.form-left-icon{
    position:absolute;
    top:14px;
    right:8px;
    border-style: solid;
    border-width:4px;
    border-color:transparent;
    border-top:4px solid #666;
    border-bottom-width: 0;
}
.form-middle-center{
    height:auto;
    display: flex;
    flex:1 1 0px;
    line-height: 1em;
    width: 100%;
}
.form-middle-center-inner{
 display: flex;
 border-top:1px solid transparent;
 height: 40px;
 background-color: #fff;
 flex: 1 1 auto;
}
.form-middle-center input{
    display: flex;
    width:100%;
    line-height: 15px;
    padding:7px 10px 10px 0;
    height:38px;
    font-size: 15px;
    text-indent: 8px;
    margin:0;
    border:0;
    font-size: 15px;
    color:#111;

}
.form-middle-right{
    min-width:auto ;
    display:flex;
    /* background-color: #febd69;
    background-size: 350px;
    width:45px; */
    border:none;
    height:auto;

}
.form-middle-right-inner{
    background-color: #febd69;
    border:none;
    height: 100%;
    width:45px;
    display: flex;
    background-size: 350px;
    border-radius: 0 4px 4px 0;
}
.form-middle-right .form-image{
    background-image: var(--image);
    display: flex;
    flex:1 1 auto;
    background-position:2px -280px;
    width:auto;
    height:auto;
    background-size: 350px;
    height:100%;
    width:100%;
    font-size: 14px;
    padding:0;
    margin:0;
    outline:0;
    text-indent: -500px;
    line-height: 1px;
    color:#111;
}
.nav-right{
    height:60px;
    min-width: auto;
    display: flex;
    width:auto;
}
.nav-right-outer{
    margin-top:2px;
    padding:3px 0 0 0;
    font-size:14px;
    display: flex;
    line-height: 1em;
}
.en{
    margin:0px 1px 0px 1px;
    padding-left: 7px;
    padding-bottom: 5px;
    padding-right: 6px;
    display:inline-block;
    position:relative;
    margin-right: 12px;
   
}
.en-link{
padding:0 0 5px;
    margin: 1px;
    float: left;
    height: 50px;
}
.en-left{
 display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.en-line-one{
    padding-bottom:2px;
    padding-right: 8px;
    line-height: 14px;
    height: 14px;
    font-size: 12px;
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 14px;
    height: 14px;
    font-weight: 400;
}
.en-line-two{
    margin-left: 1px;
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 15px;
    font-weight: 700;
    font-size: 14px;
    line-height: 15px;
    font-weight: 700;
    margin-top:5px;
}
.en-flag{
    transform: scale(.9);
    margin:0 2px 1px 0;
     background-image: var(--country);
    display: flex;
    align-items: center;
    background-position: 0 -166px;
    background-size: 194px 295px;
    height: 18px;
    width: 24px;
    margin-top: 1px;
}
.en-word{
   display: flex;
   align-items: center;
   color:#fff;
   font-size: 14px;
   line-height: 15px;
   font-weight: 700; 
} 
.button-down-arrow{
    margin: 6px 0 0 1px;
    margin-top: 31px;
    border-style: solid;
    border-width:4px;
    border-color:transparent;
    border-top: 4px solid #a7acb2;
    position: absolute;
    border-bottom-width: 0;
    background: 0 0;
    padding:0;
    display: inline-block; 
    vertical-align: middle;
}
.hello-sign{
   /* margin-left: 2px; */
   padding-right: 9px;
   padding-left: 9px;
   position: relative;
   top:0;
   left:0;
   right:0;
   bottom:0;
    display: flex;
    align-items: flex-start;
}
.hello-sign-link{
    padding:0 4px 8px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    justify-content: center;
    padding-left: px;
    height: 50px;
    margin:0 1px;
    overflow: hidden;
}
.sign-line-one{
    position: relative;
    width: 100%;
    height: 14px;
    margin-top: 9px;
    display: flex;
    align-items: center;
}
.hello-word{
    display: flex;
    align-items: center;
    color:#fff;
    font-size: 12px;
    line-height: 14px;
    height: 14px;
    font-weight: 400;
}
.sign-line-two{
   width:auto;
   min-width: 0; 
   display: flex;
   align-items: center;
   color:#fff;
   font-size: 14px;
   line-height: 15px;
   font-weight: 700;
}
.hello-sign-in{
  margin:31.5px 0 0 0;
  border-style: solid;
  border-width: 4px;
  border-color:transparent;
  border-top: 4px solid #a7acb2;
  border-bottom-width: 0;
  background: 0 0;
  padding:0;
  cursor: pointer;
  width:0;
  height: 0;
  line-height: 0;
  display: inline-block;
  vertical-align: middle;
  position: relative;
}
.return{
    color:white;
    width:76.948px;
    display: flex;
    flex-direction: column;
    padding:0px 9px 10px 9px;
    align-items: center;
    justify-content: center;
    margin:0 1px 0 1px;
    height: 50px;
    line-height: 44px;
}
.return-line-one{
    margin-top:9px;
    height: 14px;
    display: flex;
    align-items: center;
    color:#fff;
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
    transform: translateX(-7px);
}
.return-line-two{
    display: flex;
    align-items: center;
    color:#fff;
    font-size: 14px;
    line-height: 15px;
    font-weight: 700;
}
.cart-number{
    margin-right: 11px;
    margin-left: 2px;
    padding-left: 9px;
    padding-right: 9px;
    padding-bottom: 11px;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    height: 50px;
    position: relative;
}
.cart-inner{
    position: relative;
    padding-bottom: 1px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    line-height: 44px;
}
.zero-cart{
   position: absolute;
   left:13px;
   right: auto;
   top:8px;
   display: flex;
   justify-content: center;
   align-items: center;
   color: #f08804;
   font-size: 16px;
   width: 19px;
   font-weight: 700;
   line-height: 16px;
   text-align: center;
}
.basket-cart{
  display: flex;
  align-items: center;  
   background-image:url(https://m.media-amazon.com/images/G/31/gno/sprites/nav-sprite-global-1x-reorg-privacy._CB546381437_.png);
   background-size: 350px;
   line-height: 44px;
   display: inline-block;
   width:38px;
   height:26px;
   background-position:-10px -340px;
}
.cart-word{
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   align-items: flex-start;
   line-height: 44px; 
}
.cart-line-one{
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 14px;
    height: 14px;
    font-weight: 400;
}
.word-word{
    display: flex;
    align-items: center;
    color:#fff;
    font-size: 14px;
    line-height: 15px;
    font-weight: 700;
}
/* .en-left{
    padding:0 2px 5px 7px;
    margin: 1px;
    height: 50px;
}
.flag-image{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 45px;
}
.empty{
    padding-bottom: 2px;
    padding-right: 8px;
    align-items: center;
    height: 12px;
}
.flag-outer{
    display: flex;
}
.en-left .flag{
    background-image: var(--country);
    margin:0 2px 1px 0;
    display: flex;
    align-items: center;
    background-position: 0 -166px;
    background-size: 194px 295px;
    height: 18px;
    width: 24px;
}
.lang{
    color:white;
}
.en-right-button{
    margin: 6px 0 0 1px;
    margin-top: 31px;
    border-style: solid;
    border-width:4px;
    border-color:transparent;
    border-top: 4px solid #a7acb2;
}
.hello{
   padding: 0px 9px;
    width: 141.525px;
    height: 55px;
    display: flex;
    align-items: flex-start;
    
}
.signin{
    width:113.525px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50px;
    padding:0px 4px 8px 9px;
    color:white;
    
}
.hello-text{
    margin-top:9px;
   font-size: 14px; 
}
.account{
    font-size:16px;
    font-weight: 700;
    width:auto;
    align-items: center;
}
.dowm-button{
   margin:31.5px 0 0
}
.return{
    color:white;
    width:76.948px;
    display: flex;
    flex-direction: column;
    padding:0px 9px 10px 9px;
}
.return-text{
    margin-top:9px;
    display: flex;
    font-size: 12px;
    font-weight: 400;
    height: 14px;
    line-height: 14px;
}
.cart{
    padding:0px 9px 11px 9px;
    margin-right:3px;
    height: 50px;
    width: 84px;
}
.zero{
    display:flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right:auto;
    line-height: 16px;
    color: rgb(240,136 ,4);
    font-size: 18px;
    font-weight: 700;
    left:13px;
    bottom:15px;
    top:8px;
    right:6px;
    width:19px;
}
.basket{
    position:relative;
    height: 39px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}
.cart-picture{
   background-image: var(--image);
   background-size: 350px;
   width:41px;
   height:28px;
   background-position:-218px -337px;
} */
.center{
    
    width:1084px;
    width:100%;
    max-height: 39px;
    display: flex;
    flex-direction: row;
    background-color: #232f3e;
    background-size: 350px;
    padding-left:11px;
    padding-top:0;
}
.center-left{
    height: 39px;
    width:58.413px;
    display: flex;
    font-size: 12px;
    line-height: 12px;
    margin-right:0;
}
.center-left-inner{
    display:flex;
    align-items: center;
    width :auto;
    border:none;
    padding:8px 9px 8px 9px;
    height: 39px;
}           
.center-left i{
    width:17px;
    height: 14px;
    background-image: var(--image);
    background-size:350px;
    background-position: -172px -255px;
    line-height: 12px;
    font-size:25px;
} 
.center-left span{
    font-weight: 700;
    font-size:14px;
    padding-left:5px;
    color:#fff;
    line-height: 12px;
    width: 23.413px;
    height: 12px;
    text-size-adjust: 100%;
} 
.center-middle{
    width:1294.99px;
    overflow:hidden;
     font-size: 12px;
     line-height: 12px;
    max-height: 39px;
    display:flex;
    /* flex:1 1 auto; */
    padding:0;
} 
.center-middle-outer{
    display:flex;
    flex:1 1 100%;
    flex-direction: column;
    justify-content: flex-end;
    white-space: nowrap;
} 
.center-middle-wrapper{
    padding-left: 0;
    display: flex;
    flex:1 1 auto;
    flex-direction: row;
    align-items: normal;
    margin-top: 0;
    /* margin: 21px 0 0; */
    max-height: 39px;
    overflow:hidden;
}
.center-middle-wrapper ul{
    display:contents;
    text-align: left;
}

.fresh{
    display: flex;
    padding:0px 5px;
    position:relative;
    vertical-align: middle;
    height:100%;
    text-align: left;
    font-size: 12px;
    line-height: 12px;
    height: 39px;
   
}
.fresh-text{
    margin:4px 0 6px 0;
    padding:8px 5px;
    box-sizing: content-box;
    font-size: 14px;
    color:white;
    height: 12px;
    line-height: 12px
}
 .fresh-button{
   width:0px;
   height:0;
   padding:0;
   background: 0 0;
   margin-top:18px;
   border-left:4px solid transparent;
   border-right: 4px solid transparent;
   border-top:4px solid #a7acb2;
   margin-bottom: px;
}
.center-middle ul{
    display:flex;
    margin:0 0 0 18px;
    display: contents;
}
/* .center-middle ul li{
    list-style-type: none;
    padding:2px
} */
.down{
     width:100%;
    /* min-width:1084px; */
    font-size: 12px;
    line-height: 1em;
}
.down-wrapper{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    height: 50px;
    z-index: 1;
    margin:0;
    white-space: nowrap;;
    background-color: #fff;
    position: relative;
    padding:0 9px 0 15px;
    overflow:hidden;
    border-top: 1px solid rgba(0,0,0,0.1);
    border-bottom:1px solid rgba(0,0,0,0.1);
    box-shadow:0 0 1px #ddd;
}  
.down-wrapper .line{
    /* flex: 1 0 auto; */
}
.down-wrapper a{
    /* flex:0 0 auto; */
    display:inline-block;
    position:relative;
    text-align: center;
    vertical-align: middle;
    height: 48px;
    padding:0 13px;
    line-height: 50px;
    color:#333;
    font-size: 12px;
    line-height:50px ;  
    text-decoration: none; 
    white-space: nowrap;
    align-items: center;               
} 
.ele{
    line-height: 50px;
    text-align: center;
}
.ele img{
    height: 50px;
    border:0;
    outline:0;
    vertical-align: baseline;
    width:auto;
    padding-top:5px;
    max-width: 100%;
}
.down-wrapper .line{
    flex:1 0 auto;
    display: inline-block;
    position:relative;
    text-align: center;
    vertical-align: middle;
    height: 48px;
    line-height: 50px;
    padding:0 13px;
}
.line span{
    line-height: 50px;
    font-size: 12px;;
    text-align: center;
}
.number{
    line-height: 20px;
    margin-bottom: 8px;
    border-top:1px solid #ccc;
    border-bottom:1px solid #ccc;
    height: 40px;
}  
.number-inner{
    display: flex;
    max-width: 1800px;
    align-items: center;
    margin:0 auto;
    padding-left:16px
}  
.num{
  display: block;
   width:1288px;
   min-width: 622.5px;
   max-width: 1122.5px; 
} 
.sortby{
    display: block;
    font-size: 14px;
    font-style:normal;
    font-weight: 400;
    line-height: 20px;
    max-width:538.8px;
    min-width:298.8px;
    width:406.312px;
    /* width: 1382.4px; */
}
.sortby-wrapper{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    /* width:406.312px; */
    position: relative;
    padding:0 4px;
    height: 100%;
    margin:8px 0;
    /* text-align: right; */
} 
.sortby-text-wrapper{
    display: inline-block;
    width: 134.538px; 
    background: #f0f2f2;
    border-color:#d5d9d9;
    border-radius: 8px;
     display: flex;
    justify-content: flex-end;
    margin-right:16px;
}
.sortby-text{
    border-radius: 7px;
    height: 22px;
    position:relative;
    width: 132.938px;
    text-align: center;
    display: flex;
    gap:3px
}
.sort-one{
    
    width:100%;
    padding:0 8px 0 8px;
    /* padding-right: 26px; */
    font-size: 11px;
    line-height: 22px;
    position: relative;
    text-align: left;
}
 .sortby-text .one{
    margin-right: 6px;
} 
.sortby .arrow{
   background-image: url(https://m.media-amazon.com/images/S/sash/f9Cwl2OUDVHGXk8.png);
   background-position:-7px -102px;
   width:10px;
   height: 8px;
   display: inline-block;
   background-size: 400px 900px;
   font-size: 14px;
   line-height: 20px;
   position: absolute;
   top:6px;
   right: 8px;
   text-align: center;
   vertical-align: top;
   margin-left: 2px;
   margin-top: 2px;
}
